<%= form_with model: [ @account, student ] do |form| %>
  <div>
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
    <% student.errors.full_messages_for(:firstName).each do |message| %>
      <div class="text-errors"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :lastName %>
    <%= form.text_field :lastName %>
    <% student.errors.full_messages_for(:lastName).each do |message| %>
      <div class="text-errors"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
    <% student.errors.full_messages_for(:age).each do |message| %>
      <div class="text-errors"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>