<div>
    <strong>Student:</strong>
    <%= student.firstName %> <%= student.lastName %>
</div>

<div>
    <strong>Age:</strong>
    <%= student.age %>
</div>

<div>
    <strong>Verified:</strong>
    <%= check_box_tag name = "verified", value = "1", student.verified, disabled: true %>
</div>
<%= link_to "View Student", [@account, student]%>