<h1><%= @account.name %></h1>

<% @account.errors.full_messages.each do |message| %>
  <div class="alert-errors"><%= message %></div>
<% end %>

<%= button_to 'Delete Account', @account,
              method: :delete,
              data: { confirm: "Are you sure?" } %>

<h2>Contacts</h2>
<% @account.contacts.each do |contact| %>
  <div class="margin-bottom">
    <%= render contact %>
  </div>
<% end %>

<%= link_to "Add Contact", new_account_contact_path(@account) %>

<h2>Students</h2>
<% @account.students.each do |student| %>
  <div class="margin-bottom">
    <%= render student %>
  </div>
<% end %>

<%= link_to "Add Student", new_account_student_path(@account) %>